@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #10cbe0;
  --secondary: #fc004e;
  --font-figtree: "Figtree", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-figtree: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
  --font-nunito: var(--font-nunito);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

.container {
  @apply mx-auto p-4 max-w-5xl w-full;
}
