@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #10cbe0;
  --secondary: #fc004e;
  --font-figtree: "Figtree", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-figtree: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  @apply mx-auto p-4 max-w-5xl w-full;
}
